*{
    margin: 0;
    padding: 0;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    ul{
        @include boxing(row, space-around);
        list-style: none;
        width: 100%;
        li{
            flex-basis: 20%;
            a{
                display: block;
                color: $color-font;
                background-color: #000;
                height: 30px;
                font-size: 30px;
                text-decoration: none;
                height: 50px;
                line-height: 50px;
                text-align: center;
            }
        }
    }
}





