html
{
    font-size: 16px;
}

body
{
    background-color: burlywood;
    margin: 20px 20px 20px 20px;
}

.przyklad
{
    text-align: justify;
    text-indent: 50px;
    width: 90%;
    line-height: 1.3em;
    word-spacing: 0.1em;
    letter-spacing: 0.1em;
}

.przyklad::first-letter
{
    font-weight: bold;
    font-size: 1.5em;
}

ul
{
    list-style-type: none;
}

ul li::before
{
    content: "\2714\00A0";
    color: blue;
}